/* Общие блоки */
.body{
  background: #f3f6f8;
  font-family: "Cuprum", sans-serif;
}

.header{
  display:flex;
  flex-direction: column;
  padding-bottom: 60px;
}

.breadcrumbs{
  display: flex;
  margin: 0;
  padding: 0 0 20px 0;
  list-style: none;
}

.breadcrumbs li{
  font-size: 13px;
  margin: 0 0  0 20px;
  padding-left: 15px;
  text-transform: uppercase;
}

.breadcrumbs li::before{
  content:"";
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin-left: -20px;
  position: absolute;
}


.breadcrumbs li:first-child::before{
    background-image: none;
}

.breadcrumbs li:first-child a::before{
  content:"";
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;

}
.breadcrumbs li:first-child{
  font-size: 0;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}
.breadcrumbs li a{
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  color: #424242;
}

.btn{
  display: inline-block;
  background: #ee3643;
  border-radius: 5px;
  color: #fff;
  padding: 13px 50px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn:hover, .btn:active{
  background: #ca2c37;
  transition: background 0.3s ease-in-out;
}

.btn:active{
  background: #ba2732;
}

.btn--block{
  display: block;
}
.visually-hidden{
  display:none;
}

.user-menu{
  display: flex;
  margin: 10px 0 0 5px;
  padding: 0;
}

.user-menu li:first-child{
  list-style: none;
  margin-left: 10px;
}

.user-menu li{
  margin-left: 25px;
}

.user-menu a{
  color: #49586f;
  font-size: 16px;
}

.main{
  background-color: #ffffff;
  padding-top:20px;
}
.container{
  margin: 0 auto;
  width: 940px;
}
.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper--no-wrap{
  flex-wrap: nowrap;
}

.wrapper--header{
  align-items: center;
  background: #f9f5f0;
  padding: 20px;
}

.wrapper--header h2{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  padding: 0;
  margin: 0;
}

.wrapper--header .btn{
  margin-left: auto;
}

/* Категория товара */

.categories_title{
  background-color: #f2f6f8;
  padding: 20px;
  margin: 0;
  font-weight: 100;
  color: #32425c;
  font-size: 30px;
  text-transform: uppercase;
}

/* Сортировка */

.sorting{
  align-items: center;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.sorting__ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 10px 20px 10px 0;
}

.sorting__li{
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  margin-right: 40px;
  text-transform: uppercase;
  color: #acaaa5;
  border-bottom: 1px dotted #ee3643;
}

.sorting__li:last-child{
  margin-right:0;
  border-bottom: 0;
}

.sorting__li:nth-last-child(2){
  margin-right:20px;
  border-bottom: 0;
}

.sorting__h2, .filters__h2{
  font-size: 13px;
  font-family: "PT Sans", sans-serif;
  font-weight: 500;
  margin: 0;
  padding-left: 20px;
  text-transform: uppercase;
  color: #000;
  }
.sorting__selected{
  color: #ee3643;
  border-bottom:0;
}

.information{
  padding-top: 65px;
  padding-bottom: 75px;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 25px;
  display: block;
  background-color: #f2f6f8;
}

/* Фильтры */
.filters{
  flex: 220px;
  flex-direction: column;
  max-width: 220px;
  display: flex;
  padding-right: 20px;
}


.filters__h2{
  background-color: #f7f3ec;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.filters h3{
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}

.filters__list{
  display: flex;
  flex-direction: column;
}
.filters__hr{
  height: 1px;
  border: none;
  background-color: #e5e5e5;
}
.filters-label{
  display: block;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  min-height: 25px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-top: 3px;
  text-transform: uppercase;
}

.range-controls{
    background:#f7f3ec;
    border-radius:3px
    }
.by-price h3,.filter{
  font-style:normal;
  font-family:"PT Sans","Arial",sans-serif;
  text-transform:uppercase
  }
.filter{
  padding:10px 0 10px 19px;
  font-weight:400;
  font-size:13px;
  line-height:18px
  }
.by-price h3{
    margin-top:11px;
    font-weight:700;
    font-size:17px;
    line-height:30px
    }
.range-controls{
      position:relative;
      height:80px;
      margin:14px 0 0 0;
      padding:0 30px;
      overflow:hidden
    }
.scale{
    height:2px;
        margin-top:39px;
        background:#d7dcde
        }
.bar{
          width:87%;
          height:2px;
          background:#00ca74
          }
.range-controls .toggle{
  position:absolute;
  top:30px;
  left:30px;
  width:4px;
  height:4px;
  border:8px solid #fff;
  background:#ababab;
  border-radius:50%;
  cursor:pointer
  }
  .range-controls .min-toggle{left:21px}
  .range-controls .max-toggle{left:161px}

  .price-controls{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom:26px;
    color:#000
  }

  input[type=text]{
    width:85px;
    padding:8px 2px 10px 8px;
    font-weight:400;
    font-style:normal;
    font-size:17px;
    line-height:18px;
    font-family:"PT Sans","Arial",sans-serif;
    text-align:center;
    background-color:#f7f3ec;
    border:none;
    border-radius:3px}
  .price-min+span{
    font-size:17px;
    line-height:30px;
  }


.checkbox-label{
  background: url("../img/checkbox-off.svg") no-repeat 0px 0px;
  vertical-align: middle;
}
.checkbox-input:checked + .checkbox-label {
  background: url("../img/checkbox-on.svg") no-repeat 0px 0px;
}

.radio-label{
  background: url("../img/radio-off.svg") no-repeat 0px 0px;
}

.checkbox-input:checked + .radio-label {
  background: url("../img/radio-on.svg") no-repeat 0px 0px;
}

.checkbox-input{
  display: none;
}
.filters__btn{
  background-color: #fff;
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  margin-top: 70px;
  padding: 10px 40px;
  text-transform: uppercase;
}
.categories-container{
  padding: 20px 0 0 0;
}
.categories_content{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.categories_content .product{
  margin-bottom: 20px;
}

.information h2{
  font-size: 30px;
  font-weight: 100;
  margin: 0;
  padding: 20px 0;
  text-transform: uppercase;
}

.pagination{
  padding: 20px 0;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.pagination a:hover{
  border: 1px solid #bdc6ca;
}

.pagination a:active{
  border: 1px solid #ee3643;
}

.pagination li{
  margin: 0 10px 0 0;
  text-transform: uppercase;
}

.pagination li:last-child{
  margin: 0;
}


.pagination a{
  display: block;
  color: #000;
  text-decoration: none;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 10px 18px;
}

.pagination .pagination__active{
  color: #fff;
  background-color: #ee3643;
}

.pagination__next{
  padding:10px 20px;
}


/* Наши плюсы на главной*/
.services-container__h3{
  text-transform: uppercase;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  padding: 20px 0;
}

.services-container__p{
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 70px;
  width: 395px;
}

.benefits{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 240px;
  background: #32425c;
  position: relative;
}

.benefits::after{
  content: "";
  position: absolute;
  background-image: url("../img/divider.png");
  background-repeat: no-repeat;
  width: 10px;
  height: 279px;
  top: 50%;
  right:0;
  transform: translateY(-50%);
  opacity: 0.25;
}

.benefits__h3{
  font-size: 36px;
  color: #32425c;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
}

.benefits__p{
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}

.benefits-container{
  background-image: url("../img/truck.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-top: 40px;
  padding-bottom: 90px;
}

.benefits-detail{
  justify-content: start;
}
.benefits__li{
  color: #fff;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #32425c;
  font-size: 21px;
  font-weight: bold;
  padding: 20px;
}

.benefits__li:hover{
  color:#fff;
  background: #293449;
}

.benefits__li--active{
  color: #32425c;
  background-color: #ffffff;
  border-top: 0;
}

.delivery{
  margin-left: 80px;
}


.delivery p:first-of-type{
  padding-top: 20px;
}


/* Производители на главной */

.brands{
  list-style: none;
  margin: 0;
  padding: 20px 0 65px 0;
}

.brands__li{
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
}

.brands__li a{
  align-items: center;
  display: flex;
  justify-content: center;
  width: 220px;
  height: 145px;
}

.brands__li a:active{
  opacity: 0.3;
}

.brands__li a:hover, .product:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: box-shadow 0.3s ease-in-out;
}

/* О компании на главной */
.about-block{
  padding-top: 50px;
  padding-bottom: 85px;
}
.about__h2{
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.about p{
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 30px;
  margin-top: 0;
}

.about p:nth-child(3){
  margin-bottom: 20px;
}

.about__ul{
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 18px;
  line-height: 40px;
  list-style: none;
}
.about__ul li::before{
  content: '';
  position: absolute;
  left: -36px;
  top: 19px;
  display: block;
  width: 25px;
  height: 2px;
  background: #fb565a;
}

.about__ul li{
  position:relative;
}
.about__ul li:last-child{
  margin-bottom: 0;
}
.btn--about{
  margin-top: 40px;
}
/* Карточка товара на главной*/
.products_on_main{
  padding: 20px 0;
}

.products_list{
  padding: 20px 0 0 0;
}

.product{
  border: 1px solid #eaeaea;
  display: flex;
  flex: 220px;
  flex-direction: column;
  max-width: 220px;
  padding-bottom: 20px;
  text-align: center;
  position: relative;
}

.product__a{
  color: #000000;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
}

.product__h3{
  margin: 0;
  padding: 0 20px;
  flex-grow: 1;
}
.product__del{
  color: #a9a9a9;
  font-size: 17px;
  font-family: "PT Sans", sans-serif;
  font-weight: 600;
  line-height: 29px;
  text-decoration: line-through;
  text-transform: uppercase;
}
.product__span{
  background: url("../img/red-button.svg") no-repeat center;
  color: #fff;
  font-size: 17px;
  font-family: "PT Sans", sans-serif;
  font-weight: 600;
  line-height: 45px;
  text-transform: uppercase;
}

.product .flag-new, .popular-categories  .flag-new{
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.product .flag, .popular-categories .flag{
 position: absolute;
 top: -1px;
 right: -1px;
 width: 60px;
 height: 60px;
 text-indent: -1000px;
 overflow: hidden;
 z-index: 20;
}

.product .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.product .actions .buy,
.product .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.product .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.product .actions {
  display: none;
}

.product:hover .actions {
  display: block;
}

.product .actions {
  display: none;
}


/* Популярные категории на главной*/
.popular-products{
  margin-top:60px;
}

.popular-categories{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 40px;
}

.popular-categories__div{
  background: #cccccc;
  color: #fff;
  width: 300px;
  height: 123px;
}

.popular-categories__div h3{
  font-size: 24px;
  margin-left: 20px;
}

.popular-categories__div a{
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 20px;
}

.popular-categories__div a:hover{
  background-color: rgba(0, 0, 0, 0.2);
}

.popular-categories__div a:active{
  background-color: rgba(0, 0, 0, 0.3);
}

.popular-categories__div--materials{
  background-color: #ffbf47;
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 210px 30px;
  position: relative;
}

.popular-categories__div--tools{
  background-color: #3bbce3;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 190px 30px;
}

.popular-categories__div--technics{
  background-color: #dc91d8;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 190px 30px;
}

.popular-categories__div--sale{
  background-color: #8ed78f;
  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
  background-position: 190px 30px;
}

.popular-categories__div--delivery{
  background-color: #ffc047;
  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
  background-position: 190px 30px;
}

/* Наши преимущества на главной*/
.benefits-background{
  background-color: #f5f8fa;
}

/* Верхняя блок шапки сайта на главной */
.top-header{
  background-color: #293449;
  display: block;
  min-height: 42px;
}

.top-header:hover{
  background-color: #293449;
}
.top-header-container{
  display: flex;
  align-items: flex-start;
}

.top-header-container__logo{
  background-color: #ee3643;
  padding: 12px 55px 10px 55px;
  box-shadow: 0 5px 0 0 #b52933;
}

.top-header-container__logo:hover{
  background-color: #ca2c37;
}

.top-header-container__search{
  margin-top: 0;
  position: relative;
  width: 288px;
}


.top-header-container__search:hover::before{
  opacity: 1;
}

.search-icon{
  opacity: 0.3;
  position: absolute;
  left: 15px;
  top: 10px;
}


.top-header-container__input{
    width: 100%;
    padding: 12px 0 12px 49px;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: "Cuprum","Arial",sans-serif;
    color: #fff;
    background-color: #293449;
    border: none;
    cursor: pointer;
}

.top-header-container__search input[type=search]:hover{
  background:#212a3a;
  border:none
}

.top-header-container__search input[type=search]:hover+.search-icon{
  opacity: 1;
}

.top-header-container__search input[type=search]:focus{
  color:#000;
  background:#fff;
  outline:none;
}

.top-header-container__search input[type=search]:focus+.search-icon svg path{
  fill: #ee3643;
}


.top-header-container__bookmarks{
    position: relative;
    width: 105px;
    padding: 12px 0 12px 45px;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: "Cuprum","Arial",sans-serif;
    text-decoration: none;
    color: #fff;
    background-color: #293449;
}

.top-header-container__bookmarks:hover, .top-header-container__cart:hover{
    background:#212a3a;
}
.top-header-container__bookmarks:active, .top-header-container__cart:active{
    background:#161d29;
}



.top-header-container__bookmarks::before{
  content: "";
  opacity: 0.3;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  width: 14px;
  height: 16px;
  position: absolute;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
}

.top-header-container__bookmarks:hover::before, .top-header-container__cart:hover::before{
  opacity: 1;
}

.top-header-container__bookmarks:active::before,  .top-header-container__cart:active::before{
    opacity: 0.5;
}

.top-header-container__cart{
    color: #fff;
    background-color: #293449;
    position: relative;
    padding: 12px 0 12px 50px;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: "Cuprum","Arial",sans-serif;
    text-decoration: none;
    text-align: left;
    width: 100px;
}

.top-header-container__cart::before{
  content: "";
  opacity: 0.3;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  position: absolute;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
}

.top-header-container__cart--active{
  background-color: #ee3643;
  padding: 12px 20px;
}

.top-header-container__input,
.top-header-container__bookmarks,
.top-header-container__cart,
.top-header-container__order{
  color: #ffffff;
  text-decoration: none;
}

.top-header-container__input{
  background-color: #293449;
  border: 0;
}

.top-header-container__input::-webkit-input-placeholder {
  color: #ffffff;
 }
.top-header-container__input::-moz-placeholder {
  color: #ffffff;
 }

.top-header-container__order{
  color: #ffffff;
  display: block;
  font-size: 17px;
  background-color: #63a63e;
  padding: 12px 0;
  max-width: 150px;
  width: 150px;
  text-align: center;
}
.top-header-container__order:hover{
    background: #5fbb2d;
  }

/* Средний блок шапки сайта на главной */
.middle-header{
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 40px 0 40px 0;
}

.middle-header__slogan {
  font-size: 16px;
  color: #ee3643;
  font-style: italic;
  line-height: 1.438;
  text-align: left;
  margin:0;
  width: 190px;
}

.middle-header__phone::before{
    content:"";
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 19px;
    height: 19px;
    margin-left: -35px;
    margin-top: 2px;
}

.middle-header__phone{
  border: 2px solid #fff;
  display: block;
  padding: 10px 50px;
  font-size: 21px;
  color:  #ee3643;
  font-weight: 600;

}

.middle-header__address{
  color: #32425c;
  display: block;
  margin: 5px;
  font-size: 14px;
  padding: 10px 0 0 5px;
}

.bottom-header__sing{
  display: block;
  margin: 0;
  padding: 0;
}

.bottom-header__sing li{
  display: inline-block;
  background-color: #ffffff;
  padding: 10px 20px 10px 20px;
}

.bottom-header__sing li:first-child{
  margin-right: 10px;
  padding-left: 5px;
}

.bottom-header__sing a{
  color: #000;
  font-size: 21px;
  text-decoration: none;
}

.bottom-header__sing a:hover{
  color: #ee3643;
}

.bottom-header__sing li:first-child a{
  padding-left: 45px;
}
.bottom-header__sing li:first-child a::before{
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  content:"";
  position: absolute;
  width:20px;
  height:17px;
  margin-left: -30px;
  margin-top: 2px;
}

.bottom-header__login{
  display: block;
  background-color: #ffffff;
  color: #000;
  font-size: 21px;
  padding: 10px 30px 10px 40px;
  text-decoration: none;
}
.bottom-header__login b{
  font-weight: 100;
  padding-right: 30px;
}

.bottom-header__logout::before{
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  content:"";
  margin-top: 3px;
  position: absolute;
  width: 20px;
  height: 17px;
}

.bottom-header__logout{
  font-size: 0;
}

.bottom-header__login b::before{
  content: "";
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin-left: -30px;
  margin-top: 2px;
  position: absolute;
}


/* Нижний блок шапки сайта на главной*/
.bottom-header{
  background-color: #32425c;
}

.bottom-header__menu, .bottom-header__sing{
  display: flex;
  list-style: none;
}

.bottom-header__menu{
  justify-content: space-around;
  padding: 0;
  margin: 0;
  border-bottom: 5px solid #293449;
}

.bottom-header__menu a{
  display: block;
  color: #ffffff;
  padding: 20px 30px;
  text-decoration: none;
}

.bottom-header__menu li:hover{
  background: #293449;
}

.bottom-header__menu a:active{
  opacity: 0.3;
}

/* Баннер и акции */

.main-banner{
  background-image: url("../img/banner-1.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
  width: 620px;
  height: 266px;
  position: relative;
}

.main-banner__h2{
  position: absolute;
  font-family: "Cuprum", sans-serif;
  font-size: 36px;
  margin: 0;
  padding: 0;
  top: 27px;
  left: 24px;
  text-transform: uppercase;

}

.main-banner__span{
  position: absolute;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  top: 75px;
  left: 25px;
}

.main-banner__left{
  position: absolute;
  left: 25px;
  top: 115px;
}

.main-banner__right{
  position: absolute;
  right: 25px;
  top: 115px;
}

.main-banner__button{
  position: absolute;
  bottom: 22px;
  left: 25px;
}

.main-promotion{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}

/* Подвал сайта на главной */

.footer{
  background-color: #32425c;
}

.footer-top{
  display: flex;
}

.footer-top__ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex: 2;
  margin: 0;
  padding: 40px 0 0 170px;
}

.footer-top__ul--middle{
  padding: 20px 0 0 100px;
}

.footer-top__ul a:hover{
  text-decoration: underline;
  }

  .footer-top__ul a:active{
    opacity: 0.5;
    text-decoration: none;
    }

.footer-top__ul a{
  font-size: 18px;
  color: #e4e9ed;
  text-decoration: none;
}

.footer-top__ul--middle a{
  color: #ffda96;
}

.footer-top__logo{
  background-color: #ee3643;
  border-bottom: 4px solid #b52933;
  padding: 21px 40px;
  float: left;
}

.footer-middle{
  display: flex;
  padding: 20px 0 30px 0;
}

.footer-address{
  color: #f3f7f9;
  font-size: 18px;
  margin: 0;
  padding: 20px 0;
}

.footer-bottom{
  background-color: #293449;
  color: #fff;
  padding: 35px 0;
}

.vk::before{
  content: "";
  background-image: url(../img/icon-vk.svg);
  background-repeat: no-repeat;
  position: absolute;
  height: 15px;
  width: 26px;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
}

.fb::before{
  content: "";
  background-image: url(../img/icon-fb.svg);
  background-repeat: no-repeat;
  position: absolute;
  height: 22px;
  width: 12px;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);

}

.inst::before{
  content: "";
  background-image: url(../img/icon-insta.svg);
  background-repeat: no-repeat;
  position: absolute;
  height: 21px;
  width: 21px;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
}

.social{
  width: 132px;
  justify-content: space-between;
}

.social a{
  background-color: #212a3a;
  border-radius: 100%;
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  font-size: 0;
}

.social a:hover{
  background-color: #ee3643;
}

.feedback, .social{
  display:flex;
  list-style: none;
  margin: 0;
}

.feedback a{
  color: #d6bb8a;
  text-decoration: none;
}

.feedback a:hover{
  text-decoration: none;
  text-decoration: underline;
}

.feedback a:active{
  color: #ee3643;
  text-decoration: underline;
}


.feedback li{
  margin: 0 20px;
}

.copyright{
  width: 230px;
  margin: 0;
}
